.board .header__bg{
    background: #898989;
}


.board__bg {
    background: #272727;
    min-height: 100vh;
    width: 100%;
}

.board__container{
    width: 90%;
    margin: 0 auto;
}

.columns__flex{
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
}


.column1__flex{
    width: 29%;
    height: 80vh;
    background-color: #898989;
    
    display: flex;
}

.column2__flex{
    width: 40%;
    height: 80vh;
    background-color: #898989;

    display: flex;

}

.column3__flex{
    width: 29%;
    height: 80vh;
    background-color: #898989;

    display: flex;

}

.dark__triangle1{
    position: absolute;
    height: 5%;
    top: 41%;
    left: 31.5%;
}

.light__triangle1{
    position: absolute;
    height: 5%;
    top: 41%;
    left: 30%;
}

.dark__triangle2{
    position: absolute;
    height: 5%;
    top: 41%;
    left: 68.5%;
}

.light__triangle2{
    position: absolute;
    height: 5%;
    top: 41%;
    left: 67%;
}

.checkboxes__flex{
    display: flex;
    justify-content: space-between;
    width: 50vh;
    font-size: 2vh;
    margin: 0 auto;
}

.checkbox__flex{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Inter;
}

.form__bottom{
   
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkboxes{
    margin: 0 auto;
    width: 40%;
}

.checkboxes__button{
    display: flex;
    justify-content: center;
    margin: 2% 0;
    width: 100%;
    font-size: 3vh;
}

.board__orders{
    justify-content: space-between;

    width: 80%;

    overflow: auto;
    margin: 5% auto;

    display: grid;
    grid-template-columns: repeat(2, 47%);
    grid-template-rows: repeat(15, 10%); 

}

.board__orders::-webkit-scrollbar {
    width: 10px;
    color: #272727;
    
  }
   

   
.board__orders::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 10px;
}

.checkboxes__button button{
    width: 50%;
    height: 40px;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 100%;
    border-radius: 10px;
    border: #ffffff;
}

.checkboxes__button button:active{

    background-color: #c1c1c1;

}


.column2__flex .board__orders{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(10, 10%); 

}
