.order__page__bg{
    width: 100%;
    height: 100vh;
    background: #272727;
    color: white;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 200;    
    overflow: auto; 
}

.order__back__flex{
    height: 10vh;
    font-size: 30px;
    font-weight: 200;
    display: flex;
    padding-top: 2%;
    align-items: center;
    margin-bottom: 3%;
}

.order__back__flex a{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #FFF;
    margin-right: 10px;
    border-radius: 30px;
}


.arrow__icon{
    width: 100%;
    position: relative;
    left: 10%;

}


.order__flex__column {
    display: flex;
    flex-direction: column;
    height: 100vh;
   
}

.order__info__flex{
    display: flex;
    flex-direction: column;
    border-left: #FFF solid 1px;
    height: 80vh;
    padding: 0 5% 5% 5%;
}



.order__header__flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}

.number__info__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.role__info__flex{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.waiter__info{
    margin-bottom: 3%;
}

.oreder__number{
    color: #FFF;
    font-family: Inter;
    font-size: 128px;
    font-weight: 800;
}

.order__time{
    font-size: 40px;
}

.order__status{
    background: #92B76E;
    padding: 2%;
    color: #000;
    text-align: center;
}

.table__number{
    font-weight: 800;
}

.order__application{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    text-align: center;
}

.application__title{
    margin-bottom: 3%;
    font-size: 30px;
    font-weight: 500;
}

.order__done__button{
    margin: 5% auto;
}

.order__done__button button{
    width: 50vh;
    height: 8vh;
    border-radius: 10px;
    color: #000;
    font-size: 36px;
    font-weight: 200;
}


