.order{
    color:black;

    font-family: Inter;
    font-size: 5vh;
    font-weight: 800;
    line-height: normal;
    display:block;
    text-align: center;

    text-decoration: none;
    
}

.order__bg{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh;
    margin-bottom: 1%;
    border-radius: 1vh;
}

.order{
    display: block;
}

.column1__flex .order__bg{
    background-color: #92B76E;

}


.column2__flex .order__bg{
    background-color: #BBC175;

}

.column3__flex .order__bg{
    background-color: #C17575;

}


