.order{
    color:black;

    font-family: Inter;
    font-size: 5vh;
    font-weight: 800;
    line-height: normal;
    display:block;
    text-align: center;

    text-decoration: none;
    
}

.order{
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vh;
    margin-bottom: 1%;
    border-radius: 1vh;
    border: none;
}

.column1__flex .order{
    background-color: #92B76E;
}


.column2__flex .order{
    background-color: #BBC175;
}

.column3__flex .order{
    background-color: #cc7575;
}

.column1__flex button:disabled{
    background-color: #708d53;

}

.column2__flex button:disabled{
    background-color: #7d814f;

}

.column3__flex button:disabled{
    background-color: #754646;

}


